.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 40px 10px;
  width: 100%;
}

.title {
  font-size: 24px;
  font-weight: 500;
  text-align: center;
}

.subtitle {
  font-size: 22px;
  font-weight: 500;
  margin-top: 20px;
}

.p_container {
  width: 100%;
  margin: 10px;
}

.img {
  margin: 10px 0 30px 0;
}

kbd {
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  padding: 7px 15px;
  margin: 0 5px;
  border-radius: 4px;
  border: 1px solid #bbb;
  color: #eee;
  text-shadow: 0 -1px 0 #000000;
  border-color: #000;
  background-color: #4d4c4c;
  background-image: -webkit-gradient(linear,
      0 0,
      0 100%,
      from(rgba(0, 0, 0, 0.5)),
      color-stop(80%, rgba(0, 0, 0, 0)),
      to(rgba(0, 0, 0, 0)));
  background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0) 80%,
      rgba(0, 0, 0, 0));
  background-image: -moz-linear-gradient(top,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0) 80%,
      rgba(0, 0, 0, 0));
  background-image: -o-linear-gradient(rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0) 80%,
      rgba(0, 0, 0, 0));
  background-image: linear-gradient(rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0) 80%,
      rgba(0, 0, 0, 0));
  background-repeat: no-repeat;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#80000000', endColorstr='#00000000', GradientType=0);
  box-shadow: 0px 2px 0 #000000, 0 3px 1px #999999, inset 0 1px 1px #aaaaaa,
    inset 0 -1px 3px #272727;
}

.p_container:has(kbd) {
  margin-bottom: 20px;
}

.code {
  font-family: monospace;
  font-size: 16px;
  font-weight: bold;
}

.td_title {
  font-size: 14px;
  cursor: pointer;
}

.visible {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #263238;
  color: #f8dc3e;
  font-weight: bold;
  border: none;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  cursor: pointer;
  padding: 0;
}

.visible:hover {
  opacity: 0.6;
}

@media screen and (max-width: 800px) {
  kbd {
    font-size: 14px;
    padding: 4px 10px;
  }
}

@media screen and (max-width: 570px) {
  .td_title {
    font-size: 12px;
  }

  .code {
    font-size: 12px;
  }
}

@media screen and (max-width: 470px) {
  .td_title {
    font-size: 10px;
  }
}

@media screen and (max-width: 360px) {
  .td_title {
    font-size: 8px;
  }
}
