.navbar {
  background-color: #F8DC3E;
  height: 60px;
  z-index: 9999;
}

.logo_header {
  width: 50px;
  height: 50px;
  cursor: pointer;
  box-shadow: 0px 0px 5px 0px #263238;
}

.sis {
  color: #263238;
  font-size: 24px;
  font-weight: 500;
  margin-left: 50px;
  cursor: pointer;
}

@media screen and (max-width: 450px) {
  .navbar {
    height: 40px;
  }

  .sis {
    color: #263238;
    font-size: 18px;
    margin-left: 10px;
  }

  .logo_header {
    width: 30px;
    height: 30px;
  }
}
