.navbar {
  background-color: #F8DC3E;
  min-height: var(--header-height);
  z-index: 9999;
  padding: 0;
}

.navbar :global(.container) {
  min-height: var(--header-height);
}

.navbar :global(.navbar-brand) {
  display: flex;
  align-items: center;
  gap: 12px;
  margin: 0;
}

.logo_header {
  width: 50px;
  height: 50px;
  cursor: pointer;
  box-shadow: 0px 0px 5px 0px #263238;
}

.sis {
  color: #263238;
  font-size: 24px;
  font-weight: 500;
  cursor: pointer;
}

@media screen and (max-width: 450px) {
  .sis {
    color: #263238;
    font-size: 18px;
  }

  .logo_header {
    width: 34px;
    height: 34px;
  }
}
