.nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  z-index: 1;
  min-height: calc(100vh - 60px);
  background-color: #37474f;
  margin-right: 10px;
  padding: 15px;
  overflow-x: hidden;
}

.icon {
  position: fixed;
  background-color: #37474f;
  padding: 10px;
  cursor: pointer;
  z-index: 1001;
}

.links {
  font-size: 14px;
  text-align: center;
  border-bottom: 1px solid #263238;
  display: block;
  width: 180px;
  padding: 5px;
  margin: 0 auto;
}

.links:first-child {
  margin-top: 10px;
}

.open {
  width: 200px;
  transition: all 0.5s;
}

.close {
  width: 50px;
  transition: all 0.5s;
}

.arrow_left {
  transform: rotate(180deg);
  transition: all 0.5s;
}

.arrow_right {
  transform: rotate(0);
  transition: all 0.5s;
}
