:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  background: #4a148c;
  background: linear-gradient(150deg, #4a148c 0%, #1a237e 50%, #4a148c 100%);
}
